<app-loader *ngIf="isLoading" />

<div *ngIf="!isLoading && product" class="product-container">
  <div class="product-img">
    <img [src]="product.imageUrl" alt="{{ product.name | titlecase }}" (error)="product.imageUrl = defaultImageUrl"/>
  </div>

  <div class="product-details">
    <h2>{{ product.name }}</h2>
    <div class="product-data">
      <div class="product-description">
        <h3>Descripción</h3>
        <p>{{ product.description }}</p>
        <div class="product-info">
          <div>
            <h3>Precio</h3>
            <p>{{ product.price | currency:"$":"symbol":'1.0-0' }}</p>
          </div>
          <div>
            <h3>Stock</h3>
            <p>{{ product.stock }} Unidades</p>
          </div>
        </div>
        <h3>Sku</h3>
        <p>{{ product.sku }} Unidades</p>
        <div>
          <h3>Identificador</h3><p>{{ product._id }}</p>
        </div>
      </div>
      
      

      <div class="product-tags">
        <h3>Etiquetas</h3>
        <div class="tags">
          <mat-chip *ngFor="let tag of product.tags" class="tag">
            {{ tag }}
          </mat-chip>
        </div>
      </div>
    </div>
    <div class="product-actions"> 
      <button mat-raised-button class="update-button" (click)="updateProduct()">Actualizar</button>
      <button mat-raised-button class="delete-button" (click)="deleteProduct()">Eliminar</button>
    </div>
    
  </div>
</div>

<div *ngIf="!isLoading && !product" class="not-found" style="padding: 50px;">
  <h2>No hemos encontrado el producto con el identificador: {{ productId }}</h2>
  <button mat-raised-button color="primary" (click)="goToProducts()">Ver más productos</button>
</div>