<div class="catalogue">
  <div class="catalogue-container">

    <div class="product-card-container">
      <mat-card class="create-product-card card" (click)="createProduct()">
        <div class="circle">
          <mat-icon aria-label="Add icon" style="width: 50px; height: 50px; font-size: 50px;">
            add
          </mat-icon>
        </div>
        <h2>Agregar productos</h2>
      </mat-card>
    </div>
  
    <div *ngFor="let product of products" class="product-card-container">
      <mat-card class="product-card card" [routerLink]="['/products', product._id]">
        <img 
          [src]="product.imageUrl" 
          alt="{{ product.name }}" 
          class="product-image"
          (error)="product.imageUrl = defaultImageUrl"
        >
        <div class="stock-chip">
          <button mat-button>{{ product.stock }} Unidades</button>
        </div>
        <mat-card-content class="card-content">
          <div>
            <h3 mat-card-title class="product-title">{{ product.name | titlecase }}</h3>
            <p>Precio: {{ product.price | currency:"$":"symbol":'1.0-0' }}</p>
            <p>Sku: {{ product.sku }}</p>
          </div>
          <mat-card-actions class="card-actions">
            <button mat-button>Visualizar</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  
  </div>

  <mat-paginator 
    class="paginator"
    (page)="handlePageEvent($event)"
    [length]="pagination.total" 
    [pageIndex]="pagination.currentPage-1"
    [pageSize]="pagination.limit"
    [pageSizeOptions]="[2, 10, 50, 100]" 
    aria-label="Seleccionar página">
  </mat-paginator>

</div>


